<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangzhong.itlias.mapper.DeptMapper">

    <select id="selectDepts" resultType="com.yangzhong.itlias.entity.Dept">
        SELECT * FROM dept
    </select>


    <delete id="deleteDepts">
        DELETE FROM dept where id = #{id}
    </delete>

    <select id="getDeptsName" resultType="java.lang.String">
        select name from dept where id = #{id}
    </select>
</mapper>
