<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangzhong.itlias.mapper.EmpMapper">
    <select id="selectEmp" resultMap="emp">
        select
            e.*,
            d.name as dept_name
        from emp e
        left outer join dept d on e.dept_id = d.id
        <where>
            <if test="begin != null and end != null">
                e.entry_date between #{begin} and #{end}
            </if>
            <if test="name != null and name != ''">
                and e.name = #{name}
            </if>
            <if test="gender != null">
                and e.gender = #{gender}
            </if>
        </where>
    </select>

    <delete id="deleteEmps">
        delete from emp where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="addEmp" useGeneratedKeys="true" keyProperty="id">
        insert into emp(username, name, gender, image, dept_id, entry_date, job, salary, phone, create_time, update_time)
        values (#{username}, #{name}, #{gender}, #{image}, #{deptId}, #{entryDate}, #{job}, #{salary}, #{phone}, #{createTime}, #{updateTime})
    </insert>

    <insert id="addExpr">
        insert into emp_expr(emp_id, `begin`, `end`, company, job)
        values
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.company}, #{expr.job})
        </foreach>
    </insert>

    <select id="selectEmpById" resultMap="emp">
        select e.*,
               ee.emp_id,
               ee.begin,
               ee.end,
               ee.company,
               ee.job as ee_job,
               ee.id  as ee_id
        from emp as e
                 left outer join emp_expr as ee
                                 on e.id = ee.emp_id where e.id = #{id}
    </select>
    <resultMap id="emp" type="com.yangzhong.itlias.entity.Emp">
        <id property="id" column="id"/>
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="gender" column="gender" />
        <result property="name" column="name" />
        <result property="phone" column="phone" />
        <result property="job" column="job" />
        <result property="salary" column="salary" />
        <result property="image" column="image" />
        <result property="entryDate" column="entry_date" />
        <result property="deptId" column="dept_id" />
        <result property="deptName" column="dept_name" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <collection property="exprList" ofType="com.yangzhong.itlias.entity.Expr">
            <id property="id" column="ee_id"/>
            <result property="empId" column="emp_id"/>
            <result property="begin" column="begin"/>
            <result property="end" column="end"/>
            <result property="company" column="company"/>
            <result property="job" column="ee_job"/>
        </collection>
    </resultMap>

    <update id="updateEmp">
        update emp set
        <if test="username!=null and username!= ''">username = #{username},</if>
        <if test="password!=null">password=#{password},</if>
        <if test="name!=null and name!=''">name=#{name},</if>
        <if test="phone!=null and phone!=''">phone=#{phone},</if>
        <if test="gender!=null ">gender=#{gender},</if>
        <if test="image!=null and image!=''">image=#{image},</if>
        <if test="job!=null ">job=#{job},</if>
        <if test="salary!=null">salary=#{salary},</if>
        <if test="entryDate!=null">entry_date=#{entryDate},</if>
        <if test="deptId!=null">dept_id=#{deptId},</if>
        <if test="updateTime!=null">update_time=#{updateTime}</if>
        where id = #{id}
    </update>


    <update id="updateEmpExpr">
        <foreach collection="list" separator=";" item="expr">
            update emp_expr
            <set>
                <if test="expr.begin!=null">begin=#{expr.begin},</if>
                <if test="expr.end!=null">end=#{expr.end},</if>
                <if test="expr.company!=null and expr.company!=''">company=#{expr.company},</if>
                <if test="expr.job!=null and expr.job != '' ">job=#{expr.job}</if>
            </set>
            <where>
                 emp_id = #{expr.empId}
                 and id = #{expr.id}
            </where>
        </foreach>
    </update>

    <select id="selectAllEmps">
        select id, username, password, name, gender, phone, job, salary, image, entry_date, dept_id, create_time, update_time from emp
    </select>
</mapper>
